[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-l2switch-committers
	read = group GitHub Replication
[project]
	description = separate out Layer 2 code
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/boron:refs/heads/stable/boron
