[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-l2switch-committers
	read = group Anonymous Users
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-l2switch-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[project]
	description = separate out Layer 2 code
