[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-l2switch-committers
	read = group Anonymous Users
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-l2switch-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[project]
	description = separate out Layer 2 code
[access "refs/heads/*"]
	create = group Non-Interactive l2switch users
	forgeAuthor = group Non-Interactive l2switch users
	forgeCommitter = group Non-Interactive l2switch users
	push = group Non-Interactive l2switch users
	pushMerge = group Non-Interactive l2switch users
	label-Code-Review = -2..+2 group ldap/gerrit-l2switch-committers
	label-Code-Review = -1..+1 group Non-Interactive l2switch users
	label-Code-Review = +1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive l2switch users
	label-Verified = -1..+1 group ldap/gerrit-l2switch-committers
	submit = group ldap/gerrit-l2switch-committers
